pre {
  margin: 1em 0;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace, monospace, monospace, monospace;
  font-weight: 500;
  overflow: auto;

  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: #c3cee3;
  background: #121515;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  // @include scrollbar;

  @apply py-4 px-4 md:px-8  rounded-sm  leading-normal border border-black dark:border-dark border-opacity-20;
}

pre {
  font-size: 0.9rem !important;
  line-height: 1rem !important;
}

@media screen and (max-width: 800px) {
  pre {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }
}


pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #6a51e6;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #6a51e6;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6c6783;
}

.token.punctuation {
  color: #6c6783;
}

.token.namespace {
  opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
  color: #e09142;
}

.token.property,
.token.function {
  color: #9a86fd;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #eeebff;
}

code.language-javascript,
.token.attr-name {
  color: #c4b9fe;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #ffcc99;
}

.token.placeholder,
.token.variable {
  color: #ffcc99;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c4b9fe;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid #8a75f5;
  outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #2c2937;
}

.line-numbers .line-numbers-rows > span:before {
  color: #3c3949;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
  background: rgba(224, 145, 66, 0.2);
  background: -webkit-linear-gradient(left, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
  background: linear-gradient(to right, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
}


pre.language-diff > code .token.deleted:not(.prefix),
pre > code.language-diff .token.deleted:not(.prefix) {
  background-color: rgba(255, 0, 0, .1);
  color: inherit;
  display: block;
}

pre.language-diff > code .token.inserted:not(.prefix),
pre > code.language-diff .token.inserted:not(.prefix) {
  background-color: rgba(0, 255, 128, .1);
  color: inherit;
  display: block;
}
