.container {
  @apply max-w-5xl 2xl:max-w-7xl px-4 sm:px-10 mx-auto;
}

.container-small {
  @apply max-w-3xl  2xl:max-w-5xl px-4 sm:px-10 mx-auto;
}

.page-bg {
  @apply bg-white dark:bg-dark-high text-dark-high dark:text-white  pb-20 md:pb-12;
}

.bg-light-dark {
  @apply bg-white dark:bg-dark-high text-dark-high dark:text-white;
}

.bg-light-dark-low {
  @apply bg-white dark:bg-dark text-dark-high dark:text-white;
}

.exact-navigation {
  @apply bg-blue text-white;
}
.exact-navigation:hover {
  @apply text-dark dark:text-white;
}

.slick-border {
  @apply border-dark-low dark:border-white dark:border-opacity-20 border;
}

.darker-text {
  @apply text-dark-high dark:text-white;
}

.dark-text {
  @apply text-dark dark:text-white dark:text-opacity-70;
}

.dark-low-bg {
  @apply bg-dark-low dark:bg-dark dark:bg-opacity-10;
}

.slick-hover:hover {
  @apply bg-dark-low dark:bg-opacity-20;
}

.slick-hover-blue:hover {
  @apply bg-blue bg-opacity-20;
}

.toc {
  @apply list-none dark-text mb-8;
}

.toc,
.toc-deep-2 {
}

.toc,
.toc-deep-3 {
  @apply ml-4;
}

.nuxt-content {
  @apply break-words;
}
.hightlighted {
  @apply text-blue dark:text-green font-medium;
}

*::selection {
 @apply bg-green bg-opacity-40 dark:bg-white dark:bg-opacity-40/* WebKit/Blink Browsers */
}
*::-moz-selection {
 @apply bg-green bg-opacity-40 dark:bg-white dark:bg-opacity-40/* Gecko Browsers */
}
