body {
  @apply text-base;
}

h1 {
  @apply lg:text-8xl leading-10 text-3xl font-extrabold tracking-tight;
}

h2 {
  @apply lg:text-6xl leading-7 text-2xl font-bold;
}

h3 {
  @apply leading-7 text-4xl font-semibold;
}

h4 {
  @apply text-lg lg:text-2xl font-semibold;
}

h5 {
  @apply text-lg lg:text-2xl;
}

h6 {
  @apply text-lg lg:text-xl;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  @apply leading-tight;
}
